@import '/src/assets/style/base/root';
@import '/src/assets/style/base/breakpoints';

.cardapio {
    &__filtros {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
}